.MovieInfo {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.Title {
    font-size: 24px;
    color: #333;
}

.MovieImage {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

.OriginalTitle {
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

.OriginalLanguage {
    font-size: 18px;
    color: black;
}

.Overview {
    font-size: 16px;
    color: black;
    margin-top: 20px;
}

.Genres p {
    background-color: #0072b1;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 5px;
}

.Popularity {
    font-size: 20px;
    color: black;
    margin-top: 20px;
}

.VoteCount,
.VoteAverage {
    font-size: 18px;
    color: black;
    margin-top: 10px;
}
.RaitBlock{
    display: flex;
    justify-content: center;
}
.Rait {
    margin-top: 20px;
}

