.GenreBlock {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    background-color: #007bff;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px 30px 30px 30px;
}


.GenreName {
    margin: 0;
    color: white;
}